
body {
	background-color: lightseagreen;
}
.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	color: white;
}
.wrapper {
	width: 280px;
	
}
.button-Search {
	background-color: lightsalmon;
	color: white;
}
.title {
	color: white;
	font-weight: bold;
}
.selected {
	background-color: seagreen;
	color: burlywood;
}
