<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluacion final</title>
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body class="wrapper">
  <main>
    <form id="form" class="form" action="" method="post">
      <input id="input-Search" type="text" value="" placeholder="Busca tu serie">
      <button id="button-Search" class="button-Search" type="button">Search</button>
    </form>
    <div class="containerGeneral">
      <div class="content" id="wrapper"></div>
      <div id="mySeries">
        <h1 class="title">Mis Series Favoritas</h1>
        <ul id="list-favorites"></ul>
      </div>
    </div>
  </main>
  <script src="./assets/js/main.js" type="text/javascript"></script>
</body>

</html>